{% extends 'base.html' %}

{% block titulo %}Resultados — Sistema IMC{% endblock %}

{% block conteudo %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>📋 Resultados de Cálculos</h2>
    <div>
        <span class="badge bg-primary fs-6">{{ total }} registro(s)</span>
        <a href="{{ url_for('calcular') }}" class="btn btn-primary ms-2">➕ Novo Cálculo</a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
        <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Peso (kg)</th>
                <th>Altura (m)</th>
                <th>IMC</th>
                <th>Classificação</th>
            </tr>
        </thead>
        <tbody>

            {% for calc in calculos %}
            {% set imc = calcular(calc['peso'], calc['altura'] ) %}
            <tr>
                <td>{{ calc['id_calculo'] }}</td>
                <td>{{ calc['nome'] }}</td>
                <td>{{ calc['peso'] }}</td>
                <td>{{ calc['altura'] }}</td>
                <td>{{ calc['imc'] }}</td> 
                <td>
                    <span class="badge bg-success">
                        {{ classificacao(imc) }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{{ url_for('index') }}" class="btn btn-outline-primary">← Voltar ao Início</a>

{% endblock %}